@import "~theme/_fonts";
@import "~theme";
@import "~theme/_spacings";

.contactContainer {
    display: flex;
    width: 100%;
}

.contactForm {
    display: flex;
    padding-right: 10%;
    flex-direction: column;
    flex: 1;
}

.contactLinkContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.contactLink {
    display: flex;
    align-items: center;
    font-family: Inter;
    text-decoration: none;
    margin-bottom: map-get($abs_spacing, 8);
}

.contactIcon {
    font-size: map-get($font-sizes, "xxl");
    margin-right: map-get($abs_spacing, 5);
}

.contactLinkTitle {
    font-size: map-get($font-sizes, "m");
    margin-bottom: map-get($abs_spacing, 3);
    font-weight: bold;
}

.contactLinkSubtitle {
    font-size: map-get($font-sizes, "s");
}

.contactIcon path {
    @include themed() {
        color: getThemeColor("accent");
    }
}

@media screen and (max-width: 600px) {
    .contactContainer {
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .contactLinkContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .contactLinkTitle {
        display: none;
    }

    .contactLinkSubtitle {
        display: none;
    }

    .contactIcon:last-of-type {
        margin-right: 0;
    }
    
    .contactForm {
        padding-right: 0;
    }
}