@import "~theme/_fonts";
@import "~theme";
@import "~theme/_spacings";
@import "~theme/_screens";

.contactContainer {
    display: flex;
    width: 100%;
    padding-bottom: 4vh;
    @include media("mobile") {
        flex-direction: column;
        flex-flow: column-reverse;
    }
}

.contactForm {
    display: flex;
    padding-right: 8%;
    flex-direction: column;
    flex: 1;
    @include media("sm", "tablet_portrait") {
        padding-right: 4%;
    }
    @include media("mobile") {
        padding-right: 0;
    }
}

.contactLinkContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    @include media("sm") {
        flex: unset;
    }
    @include media("mobile") {
        flex-direction: row;
        justify-content: space-between;
    }
}

.contactLink {
    display: flex;
    align-items: center;
    font-family: Inter;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: map-get($abs_spacing, 8);
}

.contactIcon {
    font-size: map-get($font-sizes, "xxl");
    margin-right: map-get($abs_spacing, 5);
}

.contactLinkTitle {
    font-size: map-get($font-sizes, "m");
    margin-bottom: map-get($abs_spacing, 3);
    font-weight: bold;
    @include media("mobile") {
        display: none;
    }
}

.contactLinkSubtitle {
    font-size: map-get($font-sizes, "s");
    @include media("mobile") {
        display: none;
    }
}

.contactIcon:last-of-type {
    @include media("mobile") {
        margin-right: 0;
    }
}

.contactIcon path {
    @include themed() {
        color: getThemeColor("accent");
    }
}
