@import "~theme/_spacings";
@import "~theme/_fonts";
@import "~theme/";
@import "~theme/_screens";

.helloSection {
    flex-direction: row !important;
    align-items: center;
    min-height: 92vh !important;
    @include media("sm", "tablet_portrait") {
        flex-direction: column-reverse !important;
        min-height: 92vh !important;
    }
    @include screenHeightCutoff {
        min-height: 92vh !important;
    }
}

.helloSection > div {
    flex-grow: 1;
    flex-basis: 0;
}

#dp_container {
    flex-grow: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media("tablet_portrait") {
        flex-grow: 1;
    }
}

.dp_ring {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include themed() {
        border: 1px solid getThemeColor("accent");
    }
    animation: expand_ring 1s ease-in-out infinite backwards;
}

#dp_ring_2 {
    animation-delay: 0.5s;
}

@keyframes expand_ring {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

#dp {
    position: relative;
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
    background-image: url("../../../../assets/dp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: 50% 35%;
    background-size: cover;
    @include media("sm", "tablet_portrait") {
        height: 35vw;
        width: 35vw;
    }
}

.subtext {
    font-family: "Raleway";
    font-size: map-get($font-sizes, "m");
    @include media("mobile") {
        margin-top: 2.5vw;
    }
}

.oneLineDesc {
    font-size: map-get($font-sizes, "subtitle");
    font-family: "Playfair Display";
    font-weight: 600;
    @include media("mobile") {
        font-size: map-get($font-sizes, "xxl");
    }
}

.title {
    font-size: map-get($font-sizes, "title");
    font-weight: bold;
    font-family: "Playfair Display";
    @include themed() {
        color: getThemeColor("active_font");
    }
    @include media("mobile") {
        display: flex;
        justify-content: space-between;
    }
}

.titleIcons {
    margin-left: map-get($abs_spacing, 8);
    font-size: map-get($font-sizes, "xxl");
    @include media("mobile") {
        margin-left: 0;
    }
}

.titleIcons path {
    @include themed() {
        color: getThemeColor("accent");
    }
}

.oneLiners {
    display: inline;
    font-weight: bold;

    @include themed() {
        color: getThemeColor("accent");
    }
}

.detailedDescription {
    margin-top: map-get($abs_spacing, 7);
    max-width: 800px;
    font-family: Raleway;
    font-size: map-get($font-sizes, "s");
    text-align: justify;
}