@import "~theme/_spacings";
@import "~theme/_fonts";
@import "~theme/";

.helloSection {
    flex-direction: column;
    justify-content: center;
}

.subtext {
    font-family: "Raleway";
    font-size: map-get($font-sizes, "m");
}

.oneLineDesc {
    font-size: map-get($font-sizes, "subtitle");
    font-family: "Playfair Display";
    font-weight: 600;
}

.title {
    font-size: map-get($font-sizes, "title");
    font-weight: bold;
    font-family: "Playfair Display";
    line-height: 96px;
    @include themed() {
        color: getThemeColor("active_font");
    }
}

.oneLiners {
    display: inline;
    font-weight: bold;

    @include themed() {
        color: getThemeColor("accent");
    }
}

.detailedDescription {
    margin-top: map-get($abs_spacing, 7);
    max-width: 800px;
    font-family: Raleway;
    font-size: map-get($font-sizes, "s");
}