@import "~theme/_fonts";
@import "~theme";
@import "~theme/_spacings";
@import "~theme/_z_levels";
@import "~theme/_screens";

.skillsSection {
    flex-direction: column;
}

.subsectionTitle {
    font-family: "Inter";
    font-weight: 600;
    font-size: map-get($font-sizes, "l");
}

.titleIconTd {
    width: map-get($abs_spacing, 12);
    svg {
        font-size: map-get($font-sizes, "xxl");
    }
    @include media("mobile", "tablet_portrait", "tablet_landscape") {
        width: map-get($abs_spacing, 9);
    }
}

.subsectionTitleIcon {
    margin-right: map-get($abs_spacing, 0);
    @include media("tablet_landscape") {
        margin-right: map-get($abs_spacing, 5);
    }
}

.subsectionTitleIcon path{
    @include themed() {
        color: getThemeColor("accent");
    }
}

.skillTable {
    width: max-content;
}

.skillTd {
    padding-top: map-get($abs_spacing, 8);
    padding-bottom: map-get($abs_spacing, 8);
    padding-right: map-get($map: $abs_spacing, $key: 20);
    opacity: 0;
    transform: scale(0);
    transition: opacity ease .25s, transform ease .25s;
    transform-origin: center center;
    a {
        cursor: pointer;
    }
    svg {
        font-size: map-get($font-sizes, "subtitle");
        @include media("mobile") {
            font-size: map-get($font-sizes, "xxl");
        }
    }
    @include media("sm") {
        padding-top: map-get($abs_spacing, 7);
        padding-bottom: map-get($abs_spacing, 7);
        padding-right: map-get($abs_spacing, 12);
    }
    @include media("mobile") {
        padding-top: map-get($abs_spacing, 6);
        padding-bottom: map-get($abs_spacing, 6);
        padding-right: map-get($abs_spacing, 8);
    }
}

.skillTd.visibleTd {
    opacity: 1;
    transform: scale(1);
}

.skillTd:last-of-type {
    padding-right: 0;
}

.skillTooltip {
    font-family: Raleway;
    font-size: map-get($font-sizes, "s");
    z-index: map-get($zLevels, 2);
}

.techIcon {
    font-size: map-get($font-sizes, "subtitle");
}

.skillTd a:hover path {
    @include themed() {
        color: getThemeColor("accent");
    }
}