@import "~theme/_fonts";
@import "~theme";
@import "~theme/_spacings";
@import "~theme/_z_levels";

.skillsSection {
    flex-direction: column;
}

.subsectionTitle {
    font-family: "Inter";
    font-weight: 600;
    font-size: map-get($font-sizes, "l");
}

.titleIconTd {
    width: map-get($abs_spacing, 12);
}

.subsectionTitleIcon {
    margin-right: map-get($abs_spacing, 5);
}

.subsectionTitleIcon path{
    @include themed() {
        color: getThemeColor("accent");
    }
}

.skillTable {
    width: max-content;
}

.skillTd {
    padding-top: map-get($abs_spacing, 8);
    padding-bottom: map-get($abs_spacing, 8);
    padding-right: map-get($map: $abs_spacing, $key: 20);
    a {
        cursor: pointer;
    }
}

.skillTooltip {
    font-family: Raleway;
    font-size: map-get($font-sizes, "s");
    z-index: map-get($zLevels, 2);
}

.techIcon {
    font-size: map-get($font-sizes, "subtitle");
}