/*
    All colors are lists, with first element corresponding to the color in light theme,
    and 2nd element corresponding to the color in dark theme.
*/

// FONT COLORS
$active_font_color: #000, #fff;
$inactive_font_color: #484848, #b0b0b0;
$accent_color: #63279A, #ae81d6;
// BACKGROUNDS
$primary_background: #fff, #101010;
// BORDERS