/*
    All colors are lists, with first element corresponding to the color in light theme,
    and 2nd element corresponding to the color in dark theme.
*/

// FONT COLORS
$active_font_color: #000, #fff;
$inactive_font_color: #484848, #b0b0b0;
$accent_color: #63279A, #ae81d6;
$error: rgb(176, 0, 32), rgb(207, 102, 121);
$success: rgb(0, 176, 50), rgb(64, 232, 111);
// BACKGROUNDS
$primary_background: #fff, #121212;
$modal_bottom_background: rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.91);
// SHADOWS
$shadow: #d4d4d4, #333;
// BORDERS
$border: #aaa, #555;