$font-sizes: (
    xxs: 8px,
    xs: 12px,
    s: clamp(12px, 0.8vw, 16px),
    m: clamp(16px, 1vw, 20px),
    l: clamp(20px, 1.2vw, 24px),
    xl: clamp(24px, 1.5vw, 32px),
    xxl: clamp(32px, 2vw, 40px),
    subtitle: clamp(40px, 3vw, 64px),
    title: clamp(56px, 4.5vw, 96px),
)