@import "~theme/index.scss";
@import "~theme/_spacings.scss";
@import "~theme/_screens";

@mixin section {
    display: flex;
    min-height: 100vh;
    padding: 0 map-get($abs_spacing, 42);
    flex-direction: column;
    position: relative;
    @include themed() {
        background-color: getThemeColor("bg_0");
    }
    @include media("tablet_portrait", "tablet_landscape") {
        padding: 0 $common_header_section_padding;
    }
    @include media("sm") {
        padding: 0 $sm_padding;
    }
}