@import "~theme";
@import "~theme/_spacings";
@import "~theme";
@import "~theme/_fonts";

.buttonContainer {
    font: optional;
    cursor: pointer;
    @include themed() {
        background-color: transparent;
        border: 1px solid getThemeColor("border");
    }
}

.buttonContainer:hover {
    @include themed() {
        background-color: getThemeColor("inverted_bg");
        div, p, svg path {
            color: getThemeColor("inverted_font");
        }
    }
}

.buttonContainer[data-disabled="true"] {
    cursor: default;
    pointer-events: none;
    @include themed() {
        background-color: getThemeColor("border");
    }
}

.buttonContainer[data-size="s"] {
    padding: map-get($abs_spacing, 3) map-get($abs_spacing, 2) map-get($abs_spacing, 3) map-get($abs_spacing, 2);
    font-size: map-get($font-sizes, "xs");
}

.buttonContainer[data-size="m"] {
    padding: map-get($abs_spacing, 5) map-get($abs_spacing, 3) map-get($abs_spacing, 5) map-get($abs_spacing, 3);
    font-size: map-get($font-sizes, "s");
}

.buttonContainer[data-size="l"] {
    padding: map-get($abs_spacing, 5) map-get($abs_spacing, 3) map-get($abs_spacing, 5) map-get($abs_spacing, 3);
    font-size: map-get($font-sizes, "s");
}

.buttonContainer[data-size="xl"] {
    padding: map-get($abs_spacing, 7) map-get($abs_spacing, 5) map-get($abs_spacing, 7) map-get($abs_spacing, 5);
    font-size: map-get($font-sizes, "m");
}
