@import "~theme/_spacings.scss";
@import "~theme/index.scss";
@import "~theme/fonts.scss";

.logo {
    @include themed()
    {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: map-get($font-sizes, "xxl");
        cursor: pointer;
        color: getThemeColor("active_font"),
    }
}

.header {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: map-get($map: $abs_spacing, $key: 14);
    padding-right: map-get($map: $abs_spacing, $key: 14);
    font-weight: bold;
    @include themed() {
        background-color: getThemeColor("bg_0");
    }
}

.navAndToggleContainer {
    display: flex;
    align-items: center;
}
