@import "~theme/_spacings.scss";
@import "~theme/index.scss";
@import "~theme/fonts.scss";
@import "~theme/_z_levels";
@import "~theme/_screens";

.logo {
    @include themed()
    {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: map-get($font-sizes, "xxl");
        cursor: pointer;
        color: getThemeColor("active_font"),
    }
}

.header {
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: map-get($zLevels, "max");
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: map-get($abs_spacing, 14);
    padding-right: map-get($abs_spacing, 14);
    font-weight: bold;
    transition: transform .25s ease-in, box-shadow 0s .25s;
    @include themed() {
        background-color: getThemeColor("bg_0");
    }
    @include media("sm") {
        padding-left: $sm_padding;
        padding-right: $sm_padding;
    }
}

.header.scrolled {
    transform: translateY(-100%);
}

.header.scrolledUp {
    transform: translateY(0);
    @include themed() {
        box-shadow: 0 0 10px getThemeColor("shadow");
    }
}

.navAndToggleContainer {
    display: flex;
    align-items: center;
}


.menuIcon {
    font-size: map-get($font-sizes, "xxl");
    cursor: pointer;
    @include themed() {
        path {
            color: getThemeColor("active_font");
        }
    }
}