@import "~theme/_spacings";
@import "~theme/_fonts";
@import "~theme/_screens";

.inProgress {
    position: absolute;
    bottom: map-get($abs_spacing, 5);
    left: 50%;
    transform: translateX(-50%);
    font-size: map-get($font-sizes, "m");
    font-family: "Raleway";
    @include media("mobile") {
        position: relative;
    }
}
