@import "~theme/_fonts.scss";
@import "~theme/_spacings.scss";
@import "~theme/";
@import "~theme/_screens";

.navigationList {
    display: flex;
    align-items: center;
    list-style: none;

    a {
        text-decoration: none;
        text-transform: capitalize;

        @include themed() {
            color: getThemeColor("inactive_font");
        }
    }

    a:hover {
        @include themed() {
            color: getThemeColor("active_font");
        }
    }

    li {
        font-size: map-get($font-sizes, "m");
        margin-right: map-get($abs_spacing, 7);
        font-weight: normal;
        font-family: "Raleway";
        cursor: pointer;
    }

    a[data-selected="true"] {
        font-weight: bold;

        @include themed() {
            color: getThemeColor("active_font");
        }
    }

    @include media("sm") {
        flex-direction: column;
        align-items: flex-start;
        li {
            font-size: map-get($font-sizes, "xxl");
            margin-right: 0;
            margin-bottom: map-get($abs_spacing, 7);
        }
    }
}