@import "~theme/_spacings";
@import "~theme/_fonts";
@import "~theme/_screens";

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Raleway;
    cursor: pointer;
    svg {
        font-size: map-get($font-sizes, "xl");
    }
    p {
        margin-bottom: map-get($abs_spacing, 7);
        font-size: map-get($font-sizes, "m");
        @include media("tablet_portrait") {
            font-size: map-get($font-sizes, "l");
        }
        @include media("mobile") {
            margin-bottom: map-get($abs_spacing, 5);
        }
    }
}

.scrollIcon {
    animation: bounce infinite 1s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(map-get($abs_spacing, 5));
    }

    100% {
        transform: translateY(0);
    }
}