@import "~theme";
@import "~theme/_spacings";
@import "~theme/_fonts";
@import "~theme/_screens";

.card {
    display: flex;
    padding-top: calc(9 * 100% / 21); // 21:9 Aspect ratio box
    position: relative;
    width: 99.8%;
    @include themed() {
        border: 1px solid getThemeColor("border");
    }
    .content {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: map-get($pc_spacing, 12);
        height: map-get($pc_spacing, 12);
        padding: map-get($abs_spacing, 10);
        @include media("tablet_landscape") {
            padding: map-get($abs_spacing, 8);
        }
        @include media("sm", "tablet_portrait") {
            padding: map-get($abs_spacing, 6);
        }
    }
}

.textContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-right: map-get($abs_spacing, 8);
    @include media("sm") {
        width: map-get($pc_spacing, 12);
        padding-right: 0;
        flex-grow: 1;
    }
}

.galleryWidthClasses {
    width: map-get($pc_spacing, 5);
    @include media("sm") {
        width: map-get($pc_spacing, 12);
    }
}

.cardTitle {
    font-family: Inter;
    text-transform: uppercase;
    font-size: map-get($font-sizes, "xxl");
    @include themed() {
        color: getThemeColor("inactive_font");
    }
}

.cardSubtitle {
    margin-top: map-get($abs_spacing, 6);
    font-family: 'Inter';
    font-weight: bold;
    font-size: map-get($font-sizes, "m");
    span {
        font-style: italic;
        font-weight: normal;
    }
    @include media("sm") {
        margin-top: map-get($abs_spacing, 4);
        span {
            display: inline-block;
        }
    }
    @include media("mobile") {
        span {
            display: none;
        }
    }
}

.subtitleSeparator {
    margin-top: map-get($abs_spacing, 6);
    width: map-get($pc_spacing, 3);
    border-width: map-get($abs_spacing, 1);
    @include themed() {
        border-color: getThemeColor("accent");
    }
    @include media("sm") {
        margin-top: map-get($abs_spacing, 4);
        margin-bottom: map-get($abs_spacing, 4);
    }
    @include media("mobile") {
        border-width: 1px;
        width: map-get($pc_spacing, 8);
        margin-top: map-get($abs_spacing, 2);
        margin-bottom: map-get($abs_spacing, 2);
    }
}

.descButtonsStackContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: auto;
    justify-content: space-between;
    @include media("sm") {

    }
}

.cardTextContainer {
    height: map-get($pc_spacing, 5);
    display: flex;
    align-items: center;
    @include media("sm", "tablet_portrait") {
        height: map-get($pc_spacing, 6);
    }
    @include media("mobile") {
        height: map-get($pc_spacing, 5);
    }
}

.cardText {
    text-align: justify;
    font-size: map-get($font-sizes, "m");
    font-family: Raleway;
}

.actionsContainer {
    display: flex;
    align-items: center;
    @include media("mobile") {
        margin-top: map-get($abs_spacing, 5);
        justify-content: space-between;
    }
}

.gitButton {
    margin-left: map-get($abs_spacing, 5);
    @include media("mobile") {
        flex-grow: 1;
    }
}

.readMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: Inter;
    text-transform: uppercase;
    @include media("mobile") {
        flex-grow: 1;
    }
}

.techStackContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.techStackFacet {
    display: flex;
    align-items: center;
    margin-top: map-get($abs_spacing, 5);

    p {
        font-family: Raleway;
        font-size: map-get($font-sizes, "m");
        margin-left: map-get($abs_spacing, 4);
    }
}

.techStackFacet svg {
    font-size: map-get($font-sizes, "xl");

}

.techStackIcon path{
    @include themed()
    {
        color: getThemeColor("inactive_font");
    }
}

@media (max-aspect-ratio: 1.5) and (max-width: 1200px) {
    .card {
        padding-top: calc(9 * 100% / 16);
    }
}

@media (max-aspect-ratio: 1.34) and (max-width: 900px) {
    .card {
        padding-top: calc(3 * 100% / 4);
    }
}

@media (max-aspect-ratio: 1) and (max-width: 767px) {
    .card {
        padding-top: 125%;
        .content {
            flex-direction: column-reverse;
        }
    }
}

@media (max-aspect-ratio: 9 / 16) {
    .card {
        padding-top: calc(16 * 100% / 9);
        .content {
            flex-direction: column-reverse;
        }
    }
}